@model string



<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Login
                </div>
                <div class="card-body">
                    <form action="@Url.Action("ForgotPassword","Account")" method="post">
                        <div class="form-group">
                            <label for="username">Email:</label>
                            <input value="@Model" name="Email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Account email address">
                            @Html.ValidationSummary(true)
                        </div>                        
                        <button type="submit" class="btn btn-primary">Request password reset</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>