@model UpdatePasswordModel

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Login
                </div>
                <div class="card-body">
                    <form action="@Url.Action("NewPassword","Account")" method="post">
                        <p> Please enter new password.</p>
                        <div class="form-group">
                            <label for="username">Password:</label>
                            <input name="NewPassword" type="password" class="form-control" id="new_password" placeholder="Enter the new password">
                            @Html.ValidationMessageFor(c => c.NewPassword)
                        </div>
                        <div class="form-group">
                            <input name="ConfirmNewPassword" type="password" class="form-control" id="confirm_new_password" placeholder="Enter the new confirm password">
                            @Html.ValidationMessageFor(c => c.ConfirmNewPassword)
                        </div>
                        <button type="submit" class="btn btn-main text-center">Save</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>